<section class="habilidades" >
    <h2>Habilidades</h2>
    <div class="blandas">
        <h3>Habilidades Blandas</h3>
        <div><label for="tiempo">Gestión de Tiempo</label> <progress id="tiempo" max="100" value="80"> 80% </progress></div>
        <div><label for="equipo">Trabajo en Equipo</label> <progress id="equipo" max="100" value="75"> 75% </progress></div>
        <div><label for="adaptabilidad">Adaptabilidad</label> <progress id="adaptabilidad" max="100" value="70"> 70% </progress></div>
        <div><label for="liderazgo">Liderazgo</label> <progress id="liderazgo" max="100" value="60"> 60% </progress></div>
        <div><label for="proactividad">Proactividad</label> <progress id="proactividad" max="100" value="80"> 80% </progress></div>
        <div><label for="resiliencia">Resiliencia</label> <progress id="resiliencia" max="100" value="90"> 90% </progress></div>
    </div>

    <div class="duras">
        <h3>Habilidades Duras</h3>
        <div ><label for="html">html</label> <progress id="html" max="100" value="50"> 50% </progress></div>
        <div><label for="javascript">javascript</label> <progress id="javascript" max="100" value="50"> 50% </progress></div>
        <div><label for="java">java</label> <progress id="java" max="100" value="50"> 50% </progress></div>
        <div><label for="ingles">Conocimiento Inglés</label> <progress id="ingles" max="100" value="90"> 90% </progress></div>
    </div> 
    
</section>