#educacion{
    background-color: rgb(154, 180, 111);
    border-width: 1px;
    border-style:solid; 
    border-color: rgb(15, 130, 207);
    border-radius: 20px;
    align-items: center;
    padding-left: 3%;
    line-height: 50px;
    vertical-align: middle;

    
}

.list-info{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

