<div id= "educacion">
    <!-- Modal -->
    <div class="estilo modal fade" id="estudiosForm" tabindex="-1" aria-labelledby="estudiosFormLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="estudiosFormLabel">Educacion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="estudiosForm" (ngSubmit)="onSubmit()">
              <input type="hidden" name="id" formControlName="id">
  
              <div class="row mb-0">
                <label for="ente" class="col-sm-0 col-form-label">Institución</label>
                <div class="col-sm-0">
                  <input type="text" name="school" formControlName="ente" class="form-control" required>
                </div>
              </div>
  
              <div class="row mb-0">
                <label for="titulo" class="col-sm-0 col-form-label">Título</label>
                <div class="col-sm-0">
                  <input type="text" name="titulo" formControlName="titulo" class="form-control" required>
                </div>
              </div>

              <div class="row mb-0">
                <label for="inicio" class="col-sm-0 col-form-label">Fecha Inicio </label>
                <div class="col-sm-0">
                  <input type="text" name="inicio" formControlName="inicio" class="form-control" required>
                </div>
              </div>

              <div class="row mb-0">
                <label for="fin" class="col-sm-0 col-form-label">Fecha Fin </label>
                <div class="col-sm-0">
                  <input type="text" name="fin" formControlName="fin" class="form-control" required>
                </div>
              </div>
  
              <div class="row mb-0">
                <label for="img" class="col-sm-0 col-form-label">Logo institución</label>
                <div class="col-sm-0">
                  <input type="text" name="img" formControlName="img" class="form-control" required>
                </div>
              </div>
  
              <div class="text-center">
                <button type="button" class="btn btn-secondary me-0" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  
  
    <div class="card-titles">
      <h2>Educación</h2>
      <div *ngIf="isUserLogged" class="btn-edit">
        <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#estudiosForm" (click)="onNuevosEstudios()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg></button>
      </div>
    </div>
    <div>
      <ul class="items-list" id="eduList">
        <li *ngFor="let estudios of estudiosList; let i = index">
          <div class="data-container">

            <div class="list-info">
              <h3 id="edu-school">{{ estudios.ente }} </h3>
              <p><span id="edu-title">{{ estudios.titulo }}</span></p>
              <p><time id="edu-start">{{ estudios.inicio }}</time> - <time id="edu-end">{{ estudios.fin }}</time></p>
              <img id="edu-img" class="logo-image"
                src="/assets/png/{{estudios.img}}" height="50px" width="70px">
            </div>
            
          </div>
          <div *ngIf="isUserLogged" class="data-control">
            <div class="btn-edit">
              <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#estudiosForm" (click)="onEditarEstudios(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg></button>
            </div>
            <div class="btn-borrar">
              <button class="btn btn-right" (click)="onBorrarEstudios(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg></button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
