.sobre_mi{
    background-color:rgb(54, 73, 73);
     border-radius: 20px;
     text-align:center;
     padding-left: 3%;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  