
.banner{
    background-image: url("src\assets\png\fondo gris.png");
    height: 8cm;
    
}

#imagen{
    border-radius: 200px;
}
.sobre{
    background-color: teal;
    padding-left: 3%;

}
.ubicacion{
    display: flex;
    
}




