<section class="estudios">
    
    <h3 >Estudios Realizados</h3>
    <div class="primera">
        <div><img src="../../../assets/png/inti.png" width="100 px" height="70 px"></div>
        <div> <p><strong>Full Stack Developer Jr.</strong>Argentina Programa-INTI 2022</p></div>
     </div>

    <div class="segunda">
       <div> <img src="../../../assets/png/uncoma.png" width="100 px" height="70 px"></div>
       <div><p><strong>Ingeniería Química </strong>UNComa 2008-</p></div> 
    </div>    
 
</section>
