.estudios{
    background-color: rgb(206, 214, 214);
    border-width: 1px;
    border-style:solid; 
    border-color: rgb(15, 130, 207);
    border-radius: 20px;
    align-items: center;
    padding-left: 3%;
}

.primera{
    flex-direction: row;
}

.segunda {
    flex-direction: row;
}