.estudios_realizados{
    background-color: rgb(206, 214, 214);
    border-width: 1px;
    border-style:solid; 
    border-color: rgb(15, 130, 207);
    border-radius: 20px;
    align-items: center;
    padding-left: 3%;

}
.caja1{
    flex-direction: row;
}
.caja2{
    flex-direction: row;
}