
.barra{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    height: 75px;
    
}

.logo{
    float:left
}
.mail{
    float:right
}
.github{
    float:right
}
.linkedin{
    float:right
}

.login{
    float:right
}

.navegacion{
    text-align: center;
}

#inicio{
    color:rgb(196, 202, 255);
}

#sobre{
    color:rgb(196, 202, 255);
    padding-left: 10px;
}

#estudios{
    color:rgb(196, 202, 255);
    padding-left: 10px;
}
#experiencia{
    color:rgb(196, 202, 255);
    padding-left: 10px;
}

#habilidades{
    color:rgb(196, 202, 255);
    padding-left: 10px;
}

#proyectos{
    color:rgb(196, 202, 255);
    padding-left: 10px;
}