
.barra{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    height: 75px;
    
}

.logo{
    float:left
}
.mail{
    float:right;
    padding-left: 5px;
    }
.github{
    float:right;
    padding-left: 5px;
}
.linkedin{
    float:right;
    padding-left: 5px;
   
}

.login{
    float:right;
    padding-left: 10px;
    }

.navegacion{
    text-align: center;
}

#inicio{
    color:rgb(128, 192, 26);
}

#sobre{
    color:rgb(128, 192, 26);
    padding-left: 10px;
}

#estudios{
    color:rgb(128, 192, 26);
    padding-left: 10px;
}
#experiencia{
    color:rgb(128, 192, 26);
    padding-left: 10px;
}

#habilidades{
    color:rgb(128, 192, 26);
    padding-left: 10px;
}

#proyectos{
    color:rgb(128, 192, 26);
    padding-left: 10px;
}